<!DOCTYPE html>
<html lang="ja">
<head>
	<title></title>
	<meta charset="utf8" />
	<meta name="viewport" content="width=device-width">	
	<link rel="stylesheet" type="text/css" href=""/>
</head>
<body>
    <div id="form"></div>
    <div id="list"></div>


	<script type="text/template" id="formView">
		<h2>New User</h2>
		<p>Name: <input type="text" id="name" /></p>
		<p>age: <input type="text" id="age" /></p>
		<p><button>Create</button></p>
	</script>

	<script type="text/template" id="userView">
		<p>Name: <%- name %></p>
		<p>age: <%- age %></p>
	</script>

	<script type="text/template" id="noUsersView">
		<h2>no User</h2>
	</script>

    <script  src="jquery.min.js"></script>
    <script  src="underscore-min.js"></script>
    <script  src="backbone-min.js"></script>
    <script  src="backbone.marionette.js"></script>
    <script  src="app.js"></script>
</body>
</html>
		